<p><b>Greetings, {{ fullname }}!</b></p>

<p>
Your NDN certificate has been approved and is ready for download.
You can download and install it using the following command:
</p>

<pre>ndnsec-install-cert "{{ URL }}/cert/get/?name={{ quoted_cert_name }}"
</pre>

<p/>

<p>
To see what certificates has been installed on the system and which ones are default, you can use the following command:
</p>

<pre>ndnsec-ls-identity -C
</pre>

<p>
Other useful commands include:
</p>

<pre>ndnsec-dump-certificate
ndnsec-get-default
ndnsec-set-default
</pre>


<p>Sincerely,<br/>
NDN Testbed Certificate robot
</p>
