{% extends "layout.html" %}

{% block instructions %}
Please fill information about you and submit NDN certfication request.  <br/>

<p>To generate NDN certification request, please follow the instructions below:

<ul>
  <li>Ensure that you have installed NDNx</li>
  <li>Open terminal and issue the following command:<br/>

  <pre>
      ndn-keygen -k -n SOMENAME
  </pre>
  </li>

  <li>
  Copy the output of the command into the 'NDN certification request' field below
  </li>
</ul>

{% endblock %}

{% block body %}
<p/>
<form name="input" id="input" action="{{ URL }}??" method="post"> 

<br/>
First Name: 
<input type="text" name="fullname" size="20"></input>
<br/>
Last Name: 
<input type="text" name="fullname" size="20"></input>
<br/>
Homepage URL:
<input type="text" name="homeurl" size="20"></input>
<br/>
Institutional Group Name (optional):
<input type="text" name="group" class="group" size="20"></input>
<br/>
Advisor Name: (optional)
<input type="text" name="advisor" size="20"></input>
<br/>
NDN certification request
<textarea name="key"></textarea>

<input type="hidden" name="email" id="email" value="{{ email }}"></input>
<input type="submit" value="Submit"></input>
</form>
<p/>
{% endblock %}

</html>