{% extends "layout.html" %}

{% block instructions %}
Hello, please enter your email to begin NDN Testbed certification.
{% endblock %}

{% block body %}
<p/>
<form name="input" id="input" action="{{ URL }}/ndn/auth/v1.2/users" method="get"> 
Email address: 
<input type="text" name="email" id="email" class="email" size="20"></input>
<!-- new fields -->
<br/>
Full Name: 
<input type="text" name="fullname" size="20"></input>
<br/>
Homepage URL:
<input type="text" name="homeurl" size="20"></input>
<br/>
Institutional Group Name (optional):
<input type="text" name="group" class="group" size="20"></input>
<br/>
Advisor Name: (optional)
<input type="text" name="advisor" size="20"></input>
<!-- end new fields -->
<br>	
<div id="ndnname" class="ndnname"></div>
<br/><div class="nameinfo" id="nameinfo">
(this is the ndn name that your public key and certificate will be published under)</div><br>
<input type="hidden" name="ndn_name" id="ndn_name" value="">
<input type="submit" value="Submit"></input>
</form>
<p/>
{% endblock %}

</html>