
.info {
    color: black;
    font-size: 8pt;
}

.instructions {
    font-size: 14pt;
    color: black;
    z-index: 2
}


.nameinfo {
    font-size: 12pt;
    display:none;
    color: black;
    z-index: 2
}

.error {
    margin: 20px;
    color: red;
    font-weight: bold;
    border: 2px solid red;
}

textarea.cert-request {
    height: 300px;
}