
.info {
    color: black;
    font-size: 8pt;
}

.instructions {
    font-size: 14pt;
    color: black;
    z-index: 2
}


.nameinfo {
    font-size: 12pt;
    display:none;
    color: black;
    z-index: 2
}

.error {
    margin: 20px;
    padding: 10px;
    color: red;
    font-weight: bold;
    font-size: 16pt;
    border: 2px solid red;
}

textarea.cert-request {
    height: 300px;
    background-color: #fcf8e3;
    font-family:monospace;
}

input {
    background-color: #fcf8e3;
}

pre {
    margin-left: 20px;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
